/* General Rule */
:root {
  --sect-col: #16191f;
  --sect2-col: #222630;

  --main-col: #ff7607;
  --sec-col: #32363f;
  --trans: 0.3s;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
.main-header {
  max-width: 650px;
  margin: auto;
}
/* End General Rule */

/* Landing Page */
.landing {
  background-image: url(../assets/will-suddreth-o54RjF-C7xo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
}
.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent 10%, var(--sect-col));
}
.landing .navbar .navbar-toggler {
  color: white;
}
.landing .navbar .navbar-toggler:is(focus, :hover) {
  box-shadow: none;
}
.landing .navbar .navbar-toggler[aria-expanded="true"] .fa-bars,
.landing .navbar .navbar-toggler[aria-expanded="false"] .fa-xmark {
  display: none;
}
.landing .navbar .navbar-toggler[aria-expanded="false"] .fa-bars,
.landing .navbar .navbar-toggler[aria-expanded="true"] .fa-xmark {
  display: block;
}
.landing .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: rgb(204, 204, 204);
}
.landing .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: white;
}
.landing .navbar .collapse .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: white;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--trans);
}
.landing .navbar .collapse .navbar-nav .nav-item .nav-link:hover::before {
  opacity: 1;
}
@media (max-width: 992px) {
  .landing .navbar .navbar-nav {
    background-color: white;
  }
  .landing .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: black;
  }
  .landing .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.45);
  }
  .landing .navbar .collapse .navbar-nav .nav-item .nav-link:before {
    display: none;
  }
}
.landing .landing-body {
  position: relative;
  top: 30%;
}
.landing .landing-body h1 {
  max-width: 600px;
  margin-bottom: 30px;
  font-weight: 400;
}
.landing .landing-body a {
  background-color: var(--main-col);
  color: white;
  font-weight: bold;
  transition: var(--trans);
}
.landing .landing-body a:hover {
  opacity: 0.75;
}
/* End Lending */

/* Services */
.service {
  background-color: var(--sect-col);
  color: white;
}
.service .s_cart-memb {
  background-color: var(--sect2-col);
  height: 280px;
}
.service .s_cart-memb .s_ct_content {
  padding: 30px;
}
.service .btn-seemor {
  color: var(--main-col);
  transition: var(--trans);
}
.service .btn-seemor:hover {
  opacity: 0.7;
}
.service .s_cart-memb .s_ct_img {
  height: 280px;
  overflow: hidden;
  display: flex;
  margin: auto;
  justify-content: flex-end;
  padding: 0;
  position: relative;
}
.service .s_cart-memb .s_ct_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, var(--sect2-col) 50%, transparent);
  z-index: 2;
}
.service .s_cart-memb .s_ct_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--sect2-col);
  opacity: 0.6;
  z-index: 1;
}
.service .s_cart-memb .s_ct_img > img {
  /* height: 250px; */
  scale: 2;
}
.service .img-res {
  background: url(../assets/mike-kenneally-o14nNEbLa-s-unsplash.jpg);
}
.service .img-clas {
  background: url(../assets/nico-smit-HjFUevA2g1k-unsplash.jpg);
}
.service .img-res,
.service .img-memb,
.service .img-clas {
  background-size: cover;
  background-position: 100px bottom;
  background-repeat: no-repeat;
  height: 250px;
  z-index: 1;
}
.service .img-memb {
  background: url(../assets/jared-brashier-OR3FqpLyPdI-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.service .back-memb,
.service .back {
  padding: 50px;
  position: relative;
}
.service .back-memb::before,
.service .back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--sect2-col) 50%, transparent);
  top: 0;
  left: 0;
  z-index: -1;
}
.service .back > p {
  max-width: 300px;
}
.service .back-memb > p {
  max-width: 500px;
}

/* qa */
.qa {
  background-color: var(--sect2-col);
  color: white;
}
.qa .quest-ans .sub-qa .ans {
  display: none;
}
.qa .quest-ans .sub-qa.active .ans {
  display: block;
}
.qa .quest-ans .sub-qa .quest span svg {
  transition: var(--trans);
}
.qa .quest-ans .sub-qa.active .quest span svg {
  transform: rotate(180deg);
}
.qa .quest-ans .sub-qa {
  background-color: var(--sec-col);
  color: white;
  transition: var(--trans);
}
.qa .quest-ans .sub-qa.active,
.qa .quest-ans .sub-qa:hover {
  background-color: var(--sect-col);
}
.qa .quest-ans .sub-qa {
  cursor: pointer;
}

/* Registering */
.register {
  background-color: var(--sect-col);
}
.register .main-btn {
  background-color: var(--main-col);
  color: white;
  font-weight: bold;
  transition: var(--trans);
}
.register .main-btn:hover {
  opacity: 0.7;
}
.register .reg_text {
  max-width: 550px;
}
